<header>
  <div>
    <form class="form">
      <input
        type="text"
        placeholder="Add new act"
        [(ngModel)]="newAct"
        name="addNew"
      />
      <button type="button" (click)="onAddAct(newAct)">Add</button>
    </form>
  </div>
</header>
<main>
  <div class="main" cdkDropListGroup>
    <div class="items" *ngFor="let item of list">
      <h2>{{ item.title }}</h2>

      <div
        cdkDropList
        [cdkDropListData]="item.act"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let act of item.act" cdkDrag>
          {{ act }}
        </div>
      </div>
    </div>
  </div>
</main>
